
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.5.3
    hooks:
      # Run the linter.
      - id: ruff
        args: ["benchdocparser","--fix"]
      # Run the formatter.
      - id: ruff-format
        args: ["benchdocparser"]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

